Loaded Prisma config from "C:\Users\meert\Desktop\hustle\prisma.config.ts".
Prisma config detected, skipping environment variable loading.
-- CreateEnum
CREATE TYPE "LeadTriggerType" AS ENUM ('NEW_LOCATION_OPENING', 'CHAIN_EXPANSION', 'HIRING_MARKETING', 'HIRING_OPS', 'HIRING_TECH', 'BAD_SERVICE_REVIEWS', 'RATING_DROP', 'MENU_REDESIGN_SIGNAL', 'BOOKING_PROVIDER_CHANGE', 'DELIVERY_EXPANSION', 'INTERNATIONAL_AUDIENCE_GROWTH', 'SEASONAL_TOURISM', 'COMPETITOR_PRESSURE', 'REBRANDING', 'FUNDING_RAISED', 'EXEC_CHANGE');

-- CreateEnum
CREATE TYPE "NextActionKind" AS ENUM ('CALL_NOW', 'CALL_AT_WINDOW', 'EMAIL_FIRST', 'WHATSAPP', 'WAIT_FOR_REPLY', 'DROP_LEAD', 'RE_ENGAGE', 'BOOK_DISCOVERY', 'ENROLL_IN_CAMPAIGN', 'ESCALATE_TO_AE');

-- CreateEnum
CREATE TYPE "Channel" AS ENUM ('EMAIL', 'PHONE', 'WHATSAPP', 'LINKEDIN', 'SMS');

-- CreateEnum
CREATE TYPE "DealStage" AS ENUM ('PROSPECTING', 'PREPARATION', 'APPROACH', 'DISCOVERY', 'PRESENTATION', 'OBJECTION_HANDLING', 'NEGOTIATION', 'CLOSING', 'WON', 'LOST', 'FOLLOWUP');

-- CreateEnum
CREATE TYPE "AccountTier" AS ENUM ('TIER_1', 'TIER_2', 'TIER_3', 'TIER_4');

-- CreateEnum
CREATE TYPE "ObjectionSource" AS ENUM ('REAL', 'PREDICTED');

-- CreateEnum
CREATE TYPE "SpinKind" AS ENUM ('SITUATION', 'PROBLEM', 'IMPLICATION', 'NEED_PAYOFF');

-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "AgentWorkerKind" ADD VALUE 'ICP_SCORER';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'STAKEHOLDER_DISCOVERER';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'ACCOUNT_TIER_RANKER';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'BANT_INFERRER';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'TRIGGER_DETECTOR';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'COMMERCIAL_INSIGHT_MATCHER';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'WHY_NOW_SYNTHESIZER';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'BUYING_COMMITTEE_MAPPER';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'OBJECTION_PREDICTOR';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'MEDDPICC_EXTRACTOR';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'SPIN_EXTRACTOR';
ALTER TYPE "AgentWorkerKind" ADD VALUE 'OUTCOME_ATTRIBUTOR';

-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "MemoryKind" ADD VALUE 'TRIGGER_EVIDENCE';
ALTER TYPE "MemoryKind" ADD VALUE 'NBA_DECISION';
ALTER TYPE "MemoryKind" ADD VALUE 'NBA_OUTCOME';
ALTER TYPE "MemoryKind" ADD VALUE 'MEDDPICC_FACT';
ALTER TYPE "MemoryKind" ADD VALUE 'SPIN_ITEM';
ALTER TYPE "MemoryKind" ADD VALUE 'INSIGHT_APPLICATION';
ALTER TYPE "MemoryKind" ADD VALUE 'REASONING_SUMMARY';

-- AlterTable
ALTER TABLE "accounts" ADD COLUMN     "expansion_potential" INTEGER,
ADD COLUMN     "locations_count" INTEGER,
ADD COLUMN     "locations_count_updated_at" TIMESTAMP(3),
ADD COLUMN     "ltv_estimate_usd_cents" INTEGER,
ADD COLUMN     "strategic_value" INTEGER,
ADD COLUMN     "tier" "AccountTier" DEFAULT 'TIER_3';

-- AlterTable
ALTER TABLE "leads" ADD COLUMN     "icp_fit_score" INTEGER,
ADD COLUMN     "icp_reasons" JSONB NOT NULL DEFAULT '[]',
ADD COLUMN     "icp_version" INTEGER NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "watchlist_items" ADD COLUMN     "deal_stage" "DealStage" NOT NULL DEFAULT 'PROSPECTING',
ADD COLUMN     "deal_stage_order" INTEGER NOT NULL DEFAULT 0;

-- CreateTable
CREATE TABLE "ideal_customer_profiles" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "industry_weights" JSONB NOT NULL DEFAULT '{}',
    "sub_niche_weights" JSONB NOT NULL DEFAULT '{}',
    "price_level_min" INTEGER,
    "price_level_max" INTEGER,
    "min_review_count" INTEGER,
    "min_rating" DOUBLE PRECISION,
    "digital_maturity_floor" INTEGER,
    "high_value_signals" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "negative_signals" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "location_fit" JSONB NOT NULL DEFAULT '{}',
    "meddpicc_required_fields" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "version" INTEGER NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ideal_customer_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lead_triggers" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "type" "LeadTriggerType" NOT NULL,
    "severity" INTEGER NOT NULL,
    "confidence" DOUBLE PRECISION NOT NULL,
    "detected_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "decayed_at" TIMESTAMP(3),
    "evidence" JSONB NOT NULL,
    "impact_prediction" TEXT,
    "urgency_window_days" INTEGER,
    "validated_count" INTEGER NOT NULL DEFAULT 0,
    "false_positive_count" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "lead_triggers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "commercial_insights" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT,
    "niche_slug" TEXT,
    "industry_myth" TEXT NOT NULL,
    "reframe" TEXT NOT NULL,
    "economic_impact" TEXT,
    "contrarian_observation" TEXT,
    "applicable_triggers" "LeadTriggerType"[] DEFAULT ARRAY[]::"LeadTriggerType"[],
    "applicable_sub_niches" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "evidence_url" TEXT,
    "base_priority" INTEGER NOT NULL DEFAULT 50,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "commercial_insights_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "insight_applications" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "insight_id" TEXT NOT NULL,
    "surface" TEXT NOT NULL,
    "framework" TEXT,
    "outcome" TEXT,
    "applied_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "outcome_at" TIMESTAMP(3),
    "attributed_by" TEXT,

    CONSTRAINT "insight_applications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lead_next_actions" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "version" INTEGER NOT NULL,
    "is_preliminary" BOOLEAN NOT NULL DEFAULT false,
    "action_kind" "NextActionKind" NOT NULL,
    "timing_window_start" TIMESTAMP(3),
    "timing_window_end" TIMESTAMP(3),
    "channel" "Channel",
    "primary_angle_id" TEXT,
    "trigger_ids" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "opening_hook" TEXT,
    "what_not_to_pitch" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "qualification_gap" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "predicted_objections" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "recommended_framework" TEXT,
    "confidence" INTEGER NOT NULL,
    "reasoning" TEXT NOT NULL,
    "reasoning_graph" JSONB,
    "arbitration_records" JSONB NOT NULL DEFAULT '[]',
    "superseded_at" TIMESTAMP(3),
    "outcome" TEXT,
    "outcome_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lead_next_actions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deal_qualifications" (
    "watchlist_item_id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "fill_complete_pct" INTEGER NOT NULL DEFAULT 0,
    "risk_score" INTEGER NOT NULL DEFAULT 0,
    "champion_stakeholder_id" TEXT,
    "champion_strength" INTEGER,
    "economic_buyer_stakeholder_id" TEXT,
    "economic_buyer_confidence" DOUBLE PRECISION,
    "urgency_level" INTEGER,
    "last_extracted_at" TIMESTAMP(3),
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "deal_qualifications_pkey" PRIMARY KEY ("watchlist_item_id")
);

-- CreateTable
CREATE TABLE "deal_qualification_facts" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "watchlist_item_id" TEXT NOT NULL,
    "field_path" TEXT NOT NULL,
    "value" JSONB NOT NULL,
    "confidence" DOUBLE PRECISION NOT NULL,
    "evidence_span" JSONB,
    "source_quote" TEXT,
    "source_ref_type" TEXT,
    "source_ref_id" TEXT,
    "extracted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "extracted_by" TEXT NOT NULL,
    "superseded_at" TIMESTAMP(3),

    CONSTRAINT "deal_qualification_facts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "discovery_sessions" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "watchlist_item_id" TEXT,
    "source" TEXT NOT NULL,
    "source_ref_id" TEXT,
    "notes" TEXT,
    "conducted_by" UUID,
    "conducted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "discovery_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "discovery_items" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "spin_kind" "SpinKind" NOT NULL,
    "text" TEXT NOT NULL,
    "evidence" TEXT,
    "evidence_span" JSONB,
    "confidence" DOUBLE PRECISION NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "discovery_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stakeholders" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "lead_id" TEXT,
    "account_id" TEXT,
    "name" TEXT,
    "role" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "linkedin_url" TEXT,
    "influence" INTEGER,
    "sentiment" TEXT,
    "champion_likelihood" INTEGER,
    "is_economic_buyer" BOOLEAN NOT NULL DEFAULT false,
    "is_blocker" BOOLEAN NOT NULL DEFAULT false,
    "contacted" BOOLEAN NOT NULL DEFAULT false,
    "last_contacted_at" TIMESTAMP(3),
    "source" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "stakeholders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "objections" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "category" TEXT,
    "source" "ObjectionSource" NOT NULL DEFAULT 'PREDICTED',
    "rebuttal_used" TEXT,
    "resolved_at" TIMESTAMP(3),
    "evidence_ref_type" TEXT,
    "evidence_ref_id" TEXT,
    "predicted_from_action_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "objections_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chain_telemetry" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "planner_session_id" TEXT NOT NULL,
    "agent_run_id" TEXT,
    "worker_kind" TEXT,
    "step_id" TEXT,
    "duration_ms" INTEGER,
    "cost_tokens" INTEGER,
    "cost_usd_cents" INTEGER,
    "memory_hits" INTEGER,
    "sla_breach" BOOLEAN NOT NULL DEFAULT false,
    "error_class" TEXT,
    "recorded_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chain_telemetry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "insight_performance" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "insight_id" TEXT NOT NULL,
    "niche_slug" TEXT,
    "triggerType" "LeadTriggerType",
    "framework" TEXT,
    "segment_tier" "AccountTier",
    "applied" INTEGER NOT NULL DEFAULT 0,
    "reply_positive" INTEGER NOT NULL DEFAULT 0,
    "reply_negative" INTEGER NOT NULL DEFAULT 0,
    "ignored" INTEGER NOT NULL DEFAULT 0,
    "meeting_booked" INTEGER NOT NULL DEFAULT 0,
    "won" INTEGER NOT NULL DEFAULT 0,
    "last_updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "insight_performance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reasoning_traces" (
    "id" TEXT NOT NULL,
    "workspace_id" TEXT NOT NULL,
    "lead_id" TEXT,
    "decision_ref_type" TEXT NOT NULL,
    "decision_ref_id" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "model_version" TEXT NOT NULL,
    "graph" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "reasoning_traces_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "ideal_customer_profiles_workspace_id_key" ON "ideal_customer_profiles"("workspace_id");

-- CreateIndex
CREATE INDEX "lead_triggers_workspace_id_lead_id_decayed_at_idx" ON "lead_triggers"("workspace_id", "lead_id", "decayed_at");

-- CreateIndex
CREATE INDEX "lead_triggers_workspace_id_type_detected_at_idx" ON "lead_triggers"("workspace_id", "type", "detected_at");

-- CreateIndex
CREATE UNIQUE INDEX "lead_triggers_workspace_id_lead_id_type_detected_at_key" ON "lead_triggers"("workspace_id", "lead_id", "type", "detected_at");

-- CreateIndex
CREATE INDEX "commercial_insights_workspace_id_niche_slug_idx" ON "commercial_insights"("workspace_id", "niche_slug");

-- CreateIndex
CREATE INDEX "insight_applications_workspace_id_lead_id_idx" ON "insight_applications"("workspace_id", "lead_id");

-- CreateIndex
CREATE INDEX "insight_applications_workspace_id_insight_id_outcome_idx" ON "insight_applications"("workspace_id", "insight_id", "outcome");

-- CreateIndex
CREATE INDEX "lead_next_actions_workspace_id_lead_id_superseded_at_idx" ON "lead_next_actions"("workspace_id", "lead_id", "superseded_at");

-- CreateIndex
CREATE INDEX "lead_next_actions_workspace_id_action_kind_timing_window_st_idx" ON "lead_next_actions"("workspace_id", "action_kind", "timing_window_start");

-- CreateIndex
CREATE INDEX "deal_qualifications_workspace_id_fill_complete_pct_idx" ON "deal_qualifications"("workspace_id", "fill_complete_pct");

-- CreateIndex
CREATE INDEX "deal_qualifications_workspace_id_risk_score_idx" ON "deal_qualifications"("workspace_id", "risk_score");

-- CreateIndex
CREATE INDEX "deal_qualification_facts_workspace_id_watchlist_item_id_fie_idx" ON "deal_qualification_facts"("workspace_id", "watchlist_item_id", "field_path");

-- CreateIndex
CREATE INDEX "deal_qualification_facts_workspace_id_watchlist_item_id_sup_idx" ON "deal_qualification_facts"("workspace_id", "watchlist_item_id", "superseded_at");

-- CreateIndex
CREATE INDEX "discovery_sessions_workspace_id_lead_id_idx" ON "discovery_sessions"("workspace_id", "lead_id");

-- CreateIndex
CREATE INDEX "discovery_items_session_id_spin_kind_idx" ON "discovery_items"("session_id", "spin_kind");

-- CreateIndex
CREATE INDEX "stakeholders_workspace_id_lead_id_idx" ON "stakeholders"("workspace_id", "lead_id");

-- CreateIndex
CREATE INDEX "stakeholders_workspace_id_account_id_idx" ON "stakeholders"("workspace_id", "account_id");

-- CreateIndex
CREATE INDEX "stakeholders_workspace_id_is_economic_buyer_idx" ON "stakeholders"("workspace_id", "is_economic_buyer");

-- CreateIndex
CREATE INDEX "objections_workspace_id_lead_id_source_idx" ON "objections"("workspace_id", "lead_id", "source");

-- CreateIndex
CREATE INDEX "objections_workspace_id_lead_id_resolved_at_idx" ON "objections"("workspace_id", "lead_id", "resolved_at");

-- CreateIndex
CREATE INDEX "objections_workspace_id_category_idx" ON "objections"("workspace_id", "category");

-- CreateIndex
CREATE INDEX "chain_telemetry_workspace_id_planner_session_id_idx" ON "chain_telemetry"("workspace_id", "planner_session_id");

-- CreateIndex
CREATE INDEX "chain_telemetry_workspace_id_worker_kind_recorded_at_idx" ON "chain_telemetry"("workspace_id", "worker_kind", "recorded_at");

-- CreateIndex
CREATE INDEX "chain_telemetry_workspace_id_sla_breach_recorded_at_idx" ON "chain_telemetry"("workspace_id", "sla_breach", "recorded_at");

-- CreateIndex
CREATE INDEX "insight_performance_workspace_id_insight_id_idx" ON "insight_performance"("workspace_id", "insight_id");

-- CreateIndex
CREATE INDEX "insight_performance_workspace_id_niche_slug_triggerType_idx" ON "insight_performance"("workspace_id", "niche_slug", "triggerType");

-- CreateIndex
CREATE UNIQUE INDEX "insight_performance_workspace_id_insight_id_niche_slug_trig_key" ON "insight_performance"("workspace_id", "insight_id", "niche_slug", "triggerType", "framework", "segment_tier");

-- CreateIndex
CREATE INDEX "reasoning_traces_workspace_id_lead_id_idx" ON "reasoning_traces"("workspace_id", "lead_id");

-- CreateIndex
CREATE INDEX "reasoning_traces_workspace_id_decision_ref_type_decision_re_idx" ON "reasoning_traces"("workspace_id", "decision_ref_type", "decision_ref_id");

-- CreateIndex
CREATE INDEX "accounts_workspace_id_tier_idx" ON "accounts"("workspace_id", "tier");

-- CreateIndex
CREATE INDEX "leads_workspace_id_icp_fit_score_idx" ON "leads"("workspace_id", "icp_fit_score");

-- CreateIndex
CREATE INDEX "watchlist_items_deal_stage_deal_stage_order_idx" ON "watchlist_items"("deal_stage", "deal_stage_order");

-- AddForeignKey
ALTER TABLE "ideal_customer_profiles" ADD CONSTRAINT "ideal_customer_profiles_workspace_id_fkey" FOREIGN KEY ("workspace_id") REFERENCES "workspaces"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lead_triggers" ADD CONSTRAINT "lead_triggers_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "commercial_insights" ADD CONSTRAINT "commercial_insights_workspace_id_fkey" FOREIGN KEY ("workspace_id") REFERENCES "workspaces"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "insight_applications" ADD CONSTRAINT "insight_applications_insight_id_fkey" FOREIGN KEY ("insight_id") REFERENCES "commercial_insights"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "insight_applications" ADD CONSTRAINT "insight_applications_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lead_next_actions" ADD CONSTRAINT "lead_next_actions_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deal_qualifications" ADD CONSTRAINT "deal_qualifications_watchlist_item_id_fkey" FOREIGN KEY ("watchlist_item_id") REFERENCES "watchlist_items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deal_qualification_facts" ADD CONSTRAINT "deal_qualification_facts_watchlist_item_id_fkey" FOREIGN KEY ("watchlist_item_id") REFERENCES "deal_qualifications"("watchlist_item_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "discovery_sessions" ADD CONSTRAINT "discovery_sessions_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "discovery_items" ADD CONSTRAINT "discovery_items_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "discovery_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stakeholders" ADD CONSTRAINT "stakeholders_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "objections" ADD CONSTRAINT "objections_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "insight_performance" ADD CONSTRAINT "insight_performance_insight_id_fkey" FOREIGN KEY ("insight_id") REFERENCES "commercial_insights"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "insight_performance" ADD CONSTRAINT "insight_performance_workspace_id_fkey" FOREIGN KEY ("workspace_id") REFERENCES "workspaces"("id") ON DELETE CASCADE ON UPDATE CASCADE;

